.banner-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0;
  position: relative;
  z-index: 1;

  @media #{$max991} {
    padding: 80px 0;
  }

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: -1;
  }

  .banner-content {
    h1 {
      color: #fff;
      margin-bottom: 30px;

      span{
        color: $p_color;
        display: block;
      }
    }
    h4{
      color: #fff;
      margin-bottom: 30px;
      font-weight: 500;
    }
  }
}